/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    background-color:#F7F2EF;
    top: 0px;
}



/* Navigation Bar: Logo and Image */

#logo{
    margin: 0 20px;
}

#logo img{
    height: 42px;
    margin: 3px 4px;
}
#logo3{
    margin-right: 20px;
  margin-left: 0;
     float: left;        
}


#logo3 img{
    height: 30px;
    margin: 3px 4px;
    
}
#logo1{
    margin-right: 20px;
  margin-left: 800px;
  float: left;
        
}

#logo1 img{
    height: 30px;
    margin: 3px 4px;
}
#logo2{
    margin-right: 20px;
    margin-left: 0;
    float: left; 
}

#logo2 img{
    height: 30px;
    margin: 3px 4px;
}


/* Navigation Bar: List Styling  */

#navbar ul{
    display: flex;
    font-family: 'Bree Serif', serif;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1rem;
}

#navbar ul li a{
    color:#547793;
    display: block;
    padding: 2px 12px;
    border-radius: 15px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: #E0E0E0;
    background-color: rgba(0, 89, 179, 0.7);
}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    padding:10px 20px;
    height: 710px;
    justify-content: center;
    align-items: center;
   
}

#home::before{ 
    content: "";
    position: absolute;
    height: 650px;
    top:0px;
    left:50px;
    overflow-y: scroll;
    
    width: 1100px;
    z-index: -1;
    opacity:0.9;
    background-image: linear-gradient(#F7F2EF, #E6F2FF, #CCE6FF, #B3D9FF, #99CCFF, #80BFFF, #66B3FF, #4DA6FF, #3399FF, #198CFF, #0080FF, #0073E6, #0066CC, #0059B3, #004D99, #004080); 
    border-radius: 0 0 50% 50%/ 0 0 80% 80%;
    transform: scaleX(1.15);
   background-repeat: N0;
}
 
#home h1{
    padding-left: 3px;
    color:	#222321;
    padding-bottom: 80px;
    font-family: 'Bree Serif', serif;
    text-shadow: 1.2px 1.2px 8px #E0E0E0;
    font-size: 65px;
    overflow: hidden;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* About Section */

body {
    margin: 0;
    line-height: normal;
  }

  .left-bottom-1-icon {
    height: 100%;
    width: 50%;
    right: 39.24%;
    bottom: -4.49%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }

  .right-top-1-icon{
    float: right;
    height: 100%;
    width: 50%;
    max-width: 100%;
    max-height: 100%;
  }

  .hackclubbitdurg {
    font-family: var(--font-buenard);
  }

  .hackclubbitdurg-is-a-developer {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .the-project-is-live-on-github {
    margin: 0;
  }

  .text-about-container {
    padding-top: 170px;
    height: 83.16%;
    width: 100%;
    top: 50px;
    left: 0;
    display: inline-block;
  }

  .about,
  .text {
    position: absolute;
  }

  .about {
    padding-top: 8px;
    padding-left: 70px;
    top: 0;
    left: 194px;
    font-size: 78px;
    display: inline-block;
    text-align: center;
    width: 356.38px;
    height: 85.82px;
  }
  .text {
    height: 86.24%;
    width: 58.13%;
    top: 4.45%;
    right: 20.94%;
    bottom: 9.31%;
    left: 20.94%;
  }
  .about-page {
    position: relative;
    background-color: #dae9f8;
    width: 100%;
    height: 832px;
    overflow: hidden;
    text-align: justify;
    font-size: 25px;
    color: var(--color-black);
    font-family: var(--font-buenard);
  }

  .github-link:hover {
    text-decoration: blueviolet;
  }

/*Club Section*/

#Clubs_sec h1{
  font-family: var(--font-buenard);
  font-size: 75px;
  padding-top: 55px;
  padding-left: 15px;
}

.Clubs{
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 90px;
    display: flex; 
    justify-content: center;
}

.Clubs #box{ 
    border: 2.5px solid #198CFF;
    padding: 20px;
    margin: 2px 55px;
    border-radius: 26px;
    background: #f2f2f2;
    margin-bottom: 20px;
    height: 225px;
    width: 200px;
}

.Clubs #box img{ 
   height: 120px;
   margin: auto;
   display: block;
   padding-bottom: 18px;
}

.Clubs #box p{
    font-family: var(--font-buenard);
} 

#Clubs_sec{
  justify-content: center;
  background-color: #dae9f8;
}

.clubs-heading{
  padding-top: 8p;
}

.end-section{
  background-color: #bfdefd;
}

/* Maintainers Section */

#maintainer-section{ 
    padding-top: 35px;
    position: relative;
    justify-content: center;
    float: left;
    width: 50%;
    border-right: .5px;
    border-color: #bfdefd;
}

.maintainer-section h1{
  font-family: var(--font-buenard);
}

/* Contact Section */

#contact{
    padding-top: 35px;
    position: relative; 
    border-left: .5px;
    border-color: #bfdefd;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-bottom: 34px;
    margin-right: 120px;
    margin-left: 20px;
}
 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;
}

.contact h1{
  font-family: var(--font-buenard);
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */

.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    justify-content: center;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 8px 20px;
    border: 2.5px solid rgba(255,255,255,0.55);
    box-shadow: 0 0 30px rgba(255,255,255,0.45);
    background-color: #4DA6FF;
    color: #E0E0E0;
    margin: 18px;
    font-size: 2rem;
    border-radius: 12px;
    cursor: pointer;
    box-sizing:5,15 ;
}

.btn a{
  color: white;
  text-decoration: none;
}

.center{
    text-align: center;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}